
.card{
  width: 30rem;
  margin-left: 150px;
  /* box-shadow: 2px 5px 29px; */

}
.card:hover{
  box-shadow: 2px 5px 29px;
  scale: 1.05;
  transition: ease-in-out 0.5s;
  
}
#login-btn{
  background-color: rgb(29, 223, 29);
  font-weight: 500;
  font-size: large;
}
#btn-login{
  background-color: rgb(29, 223, 29);
  color: white;
  font-size: large;
  font-weight: 500;
  width: 150px;

}
#signup-btn{
  font-weight: 500;
  font-size: large;
}
#btn-signup{
  font-weight: 500;
  font-size: large;
  width: 150px;
}
#forgot{
  margin-right: 20vh;
}
.fa-solid{
position: relative;
top: 25px;
left: 26rem;
}

#signup-container, #login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column-reverse;
  position: relative;
  top: 10px;
  right: 59px;

  
}
.login-label{
  font-weight:645;
  margin-top: 20px;
}
.form-control{
  margin-top: 10px;
}
u{
  font-weight: 600;
}
span{
  font-size: 15px;
}
#logo-homelogin{
  color:rgb(29, 223, 29);
}

